*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* button styles */
.btn-primary{
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background-color: #F15B22;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
}
.btn-secondary{
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #F15B22;
    border: 0;
    border-radius: 5px;
    padding: 20px 25px;
}

/* banner styles */
.header-part{
    height: 80vh;
    background-image: url(../assets/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}
.banner-container{
    text-align: right;
    padding: 167px 230px 167px 845px;
    margin: 0 auto;
}

.banner-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}
.banner-description{
    color: #444343;
    margin-bottom: 32px;
}

/* main part style starting from here */
main{
    max-width: 1141px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}

/* image and description part styles */
.image-and-description-container{
    display: flex;
    align-items: center;
    gap: 87px;    
}
.symbol{
    color: green;
    font-size: 18px;
    margin-right: 10px;
}
#image-shadow{
    box-shadow: -10px 10px 10px lavender ;
    border-radius: 40px;
}
.section-title{
    font-weight: 700;
    font-size: 45px;
    color: #151414;
    margin-bottom: 24px;
}
.section-description{
    color: #444343;
    margin-bottom: 16px;
}
.bullet-point-container p{
    margin: 8px;
    color: #444343;
}

/* pervious-year-achievement section style */
.achievement-container{
   display: flex;
   align-items: center;
   gap: 87px;
}
#achievement-img{
    box-shadow: 10px 10px 10px lavender;
    border-radius: 40px;
}

/* plan section styles */
.my-plan-section h2{
    text-align: center;
    margin-bottom: 50px;
}
.plans-container{
    display: flex;
    align-items: center;
    gap: 86px;
}
.plan{
    text-align: center;
}
.plan-title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
}
.plan-description{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* gradient background styles */
.gradient-background{
    height: 300px;
    background-image: linear-gradient(to right,#F15B22, rgba(241, 91, 34, 0)), url(../assets/images/watch.png);
    background-size: cover;
    border-radius: 8px;
    margin-bottom: 130px;
}
.gradient-background h2{
    color: #FFFFFF;
}
.call-now-section{
    width: 50%;
    padding: 59px 0 59px 64px;
}

/* footer section styles */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151414;
}
.info-container{
    width: 40%;
    padding: 130px ;
}
.info-container img{
    margin-right: 17px;
}
.info-title{
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF; 
    margin-bottom: 16px;   
}
.info-description{
    color: #FFFFFF;
    margin-bottom: 24px;
}
.subscribe{
    padding: 130px 230px 130px 0;
}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.subscribe input[type=email]{
    background-color: #151414;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    width: 100%;
    padding: 21px;
    margin-bottom: 16px;
}
.subscribe ::placeholder{
    color: #F3F3F3;
}